<%= form_with(model: @submition, url: user_submitions_path(@user)) do |form| %>
  <% if submition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submition.errors.count, "error") %> prohibited this submition from being saved:</h2>

      <ul>
      <% submition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :worldSeed %>
    <%= form.text_field :worldSeed, id: :submition_worldSeed %>
  </div>

  <div class="field">
    <%= form.label :playerSeed %>
    <%= form.text_field :playerSeed, id: :submition_playerSeed %>
  </div>

  <div class="field">
    <%= form.label :agents %>
    <%= slider @submition[:agents], 1, 50, 1, :submition_agents, 'submition[agents]'%>
  </div>

  <div class="field">
    <%= form.label :genotypeLength %>
    <%= slider @submition[:genotypeLength], 80, 200, 1, :submition_genotypeLength, 'submition[genotypeLength]'%>
  </div>

  <div class="sub_section">
    <div class="field">
      <%= form.label :breeding %>
      <%= slider @submition[:breeding], 1, 50, 1, :submition_breeding, 'submition[breeding]'%>
    </div>
    <div class="field">
      <%= form.label :selection %>
      <%= slider @submition[:selection], 1, 50, 1, :submition_selection, 'submition[selection]'%>
    </div>
    <div class="field">
      <%= form.label :mutationsPerGenotype %>
      <%= slider @submition[:mutationsPerGenotype], 1, 50, 1, :submition_mutationsPerGenotype, 'submition[mutationsPerGenotype]'%>
    </div>
    <div class="field">
      <%= form.label :distance %>
      <%= slider @submition[:distance], 1, 50, 1, :submition_distance, 'submition[distance]'%>
    </div>
    <div class="field">
      <%= form.label :pathLength %>
      <%= slider @submition[:pathLength], 1, 50, 1, :submition_pathLength, 'submition[pathLength]'%>
    </div>
    <div class="field">
      <%= form.label :flatAngle %>
      <%= slider @submition[:flatAngle], 1, 50, 1, :submition_flatAngle, 'submition[flatAngle]'%>
    </div>
  </div>

  <div class="field">
    <%= form.label :player2 %>
    <%= form.text_field :player2, id: :submition_player2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
