<div id="full-ide">
    <div id="left-side" class="side">
        <div id="viz" class="content">
            <div id="video">

            </div>
            <div id="video-tools">
                <%= fa_icon 'play', id: 'play-button' %>
                <%= fa_icon 'stop', id: 'stop-button' %>
            </div>
        </div>
        <div id="details" class="content">

        </div>
    </div>

    <div id="right-side" class="side">
            <%= form_with(model: @submition, url: user_submitions_path(@user)) do |form| %>
        <div id="toolbar">
            <%= fa_icon 'play', id: 'submit-button' %>
            <%= fa_icon 'repeat', id: 'repeat-button' %>
            <div class="form-group" style="margin: 0 10%">
                <%= form.label :worldSeed %>
                <%= form.text_field :worldSeed, id: :submition_worldSeed, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :playerSeed %>
                <%= form.text_field :playerSeed, id: :submition_playerSeed, class: 'form-control' %>
            </div>
        </div>
        <div id="work">
            <div class="form-group">
                <%= form.label :agents %>
                <%= slider @submition[:agents], 1, 50, 1, :submition_agents, 'submition[agents]'%>
                <%= form.label :genotypeLength, style: 'margin-left: 20px;' %>
                <%= slider @submition[:genotypeLength], 80, 200, 1, :submition_genotypeLength, 'submition[genotypeLength]'%>
            </div>

            <div class="sub_section" style="border-top: 1px solid #777777">
                <div class="form-group">
                    <%= form.label :breeding %>
                    <%= slider @player1[:breeding], 1, 50, 1, :submition_breeding, 'submition[breeding]'%>
                </div>
                <div class="form-group">
                    <%= form.label :mutations_Per_Genotype %>
                    <%= slider @player1[:mutationsPerGenotype], 1, 50, 1, :submition_mutationsPerGenotype, 'submition[mutationsPerGenotype]'%>
                </div>
                <div class="form-group">
                    <%= form.label :selection %>
                    <%= select_tag('submition[selection]', options_for_select(@options), id: :submition_selection, class: 'form-control', style: 'width: 50%;') %>
                </div>
                <div class="form-group">
                    <%= form.label :distance %>
                    <%= slider @player1[:distance], -1, 1, 0.05, :submition_distance, 'submition[distance]'%>
                </div>
                <div class="form-group">
                    <%= form.label :path_Length %>
                    <%= slider @player1[:pathLength], -1, 1, 0.05, :submition_pathLength, 'submition[pathLength]'%>
                </div>
                <div class="form-group">
                    <%= form.label :flat_Angle %>
                    <%= slider @player1[:flatAngle], -1, 1, 0.05, :submition_flatAngle, 'submition[flatAngle]'%>
                </div>
            </div>

            <div class="form-group" style="border-top: 1px solid #777777; padding-top: 20px">
                <%= form.label :player2 %>
                <%= select_tag('submition[player2]', options_for_select(@other_players), id: :submition_player2, class: 'form-control', style: 'width: 50%;') %>
            </div>

        </div>
        <% end %>
        <span id="sim_res" style="display: none"><%= SubmitionsController.simulation_result.to_json %></span>
    </div>
</div>